<ul>
    <% files.forEach(file => { %>
        <li>
            <%= file.filename %>
            <% if (file.hasPassword) { %>
                <input
                        type="password"
                        placeholder="File Password"
                        id="pass-<%= file._id%>"
                />
                <button onclick="downloadProtected('<%= file._id%>')">
                    Download
                </button>
            <% } else { %>
                <a href="/files/<%= file._id %>/download">Download</a>
            <% } %>
        </li>
    <% }) %>
</ul>

<div>
    <% if (page > 1) { %>
        <a href="/download?page=<%= page - 1 %>">Prev</a>
    <% } %>

    <% if (page < totalPages) { %>
        <a href="/download?page=<%= page + 1 %>">Next</a>
    <% } %>
</div>


<script>
    async function downloadProtected(fileId) {
        const password = document.getElementById(`pass-${fileId}`).value;
        if (!password) {
            alert("Password is required");
            return;
        }

        const response = await fetch(`/files/${fileId}/download`, {
            method: 'POST',
            headers: {
                "content-type": "application/json",
            },
            body: JSON.stringify({ password })
        });

        if (!response.ok) {
            alert("Invalid Password");
            return;
        }

        const disposition = response.headers.get("Content-Disposition");
        let filename = "download";

        if (disposition && disposition.includes("filename=")) {
            filename = disposition
                .split("filename=")[1]
                .replace(/"/g, "");
        }

        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);

        const a = document.createElement("a");
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);

        window.URL.revokeObjectURL(url);
    }
</script>