<ul>
        <% files.forEach(file => { %>
                <li>
                        <%= file.filename %>

                        <% if (file.hasPassword) { %>
                                <input
                                        type="password"
                                        placeholder="File Password"
                                        id="pass-<%= file._id %>"
                                />
                        <% } %>

                        <button onclick="download('<%= file._id %>')">Download</button>
                        <button onclick="deleteFile('<%= file._id %>')">Delete</button>
                </li>
        <% }) %>
</ul>

<div>
        <% if (page > 1) { %>
                <a href="/download?page=<%= page - 1 %>">Prev</a>
        <% } %>

        <% if (page < totalPages) { %>
                <a href="/download?page=<%= page + 1 %>">Next</a>
        <% } %>
</div>

<script>
        async function download(fileId) {
                const passwordInput = document.getElementById(`pass-${fileId}`);
                const password = passwordInput ? passwordInput.value : null;

                if (passwordInput && !password) {
                        alert("Password is required");
                        return;
                }

                const response = await fetch(`/files/${fileId}`, {
                        method: 'POST',
                        headers: {
                                "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ password })
                });

                if (!response.ok) {
                        alert("Failed download request");
                        return;
                }

                const disposition = response.headers.get("Content-Disposition");
                let filename = "download";

                if (disposition && disposition.includes("filename=")) {
                        filename = disposition
                                .split("filename=")[1]
                                .replace(/"/g, "");
                }

                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);

                const a = document.createElement("a");
                a.href = url;
                a.download = filename;

                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);

                window.URL.revokeObjectURL(url);
        }

        async function deleteFile(fileId) {
                const passwordInput = document.getElementById(`pass-${fileId}`);
                const password = passwordInput ? passwordInput.value : null;

                if (passwordInput && !password) {
                        alert("Password is required");
                        return;
                }

                const response = await fetch(`/files/${fileId}`, {
                        method: 'DELETE',
                        headers: {
                                "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ password })
                });

                if (!response.ok) {
                        alert("Failed to delete file!");
                        return;
                }

                alert("Successfully deleted file");
                location.reload();
        }
</script>
