<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
</head>
<body>
<h1> Search & Browse Files</h1>
<button class="navButton" id="uploadButton"> Upload </button>
<button class="navButton" id="downloadButton"> Download </button>


<h2> Search </h2>
<input type="search" id="file-search" name="file-search" />
<button id="searchButton">Search</button>

<h2> Browse </h2>
<ul>
    <% files.forEach(file => { %>
        <li>
            <%= file.filename %>
            <% if (file.hasPassword) { %>
                <input
                    type="password"
                    placeholder="File Password"
                    id="pass-<%= file._id%>"
                />
                <button onclick="downloadProtected('<%= file._id%>')">
                    Download
                </button>
            <% } else { %>
                <a href="/files/<%= file._id %>/download">Download</a>
            <% } %>
        </li>
    <% }) %>
</ul>

<div>
    <% if (page > 1) { %>
        <a href="/download?page=<%= page - 1 %>">Prev</a>
    <% } %>

    <% if (page < totalPages) { %>
        <a href="/download?page=<%= page + 1 %>">Next</a>
    <% } %>
</div>

<script>
    document.getElementById('uploadButton').addEventListener('click', goToUploadPage);
    document.getElementById('downloadButton').addEventListener('click', goToDownloadPage);
    document.getElementById('searchButton').addEventListener('click', goToSearchPage);

    function goToUploadPage() {
        window.location.href = '/upload'
    }

    function goToDownloadPage() {
        window.location.href = '/download'
    }

    function goToSearchPage() {
        const searchQuery = document.getElementById('file-search').value.trim();
        window.location.href = `/search?query=${encodeURIComponent(searchQuery)}`
    }

    async function downloadProtected(fileId) {
        const password = document.getElementById(`pass-${fileId}`).value;
        if (!password) {
            alert("Password is required");
            return;
        }

        const response = await fetch(`/files/${fileId}/download`, {
            method: 'POST',
            headers: {
                "content-type": "application/json",
            },
            body: JSON.stringify({ password })
        });

        if (!response.ok) {
            alert("Invalid Password");
            return;
        }

        const disposition = response.headers.get("Content-Disposition");
        let filename = "download";

        if (disposition && disposition.includes("filename=")) {
            filename = disposition
                .split("filename=")[1]
                .replace(/"/g, "");
        }

        const blob = await response.blob();
        const url = window.URL.createObjectURL(blob);

        const a = document.createElement("a");
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);

        window.URL.revokeObjectURL(url);
    }
</script>

</body>
</html>
